<!DOCTYPE html>

<head>
    <title>
        news
    </title>
    <!--<link rel="stylesheet" href="stylePure.css">-->
    <script src=""></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!--    <script src="YTapi.js"></script> -->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">頁首</div>
        </div>
        <b>NEWS啦</b>
        <button id="test" value="test" onClick='Clicked("UU5CwaMl1eIgY8h02uZw7u8A")'>


</body>

